*{
    margin: 0;
    padding: 0%;   
}

.paginaInicialblink
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.04fr 0.1fr 2fr 0.001fr;
    grid-template-areas: 
    "titulo"
    "logo"
    "historia"
    "footer";
}

.inicioBlink h3
{
    grid-area: titulo;
}

.headerBlink
{
    grid-area: logo;
}

.listaBlink
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.letraRosa
{
    grid-area: historia;
}

.footerBlink
{
    grid-area: footer;
}

.footerBlink
{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 500px){
    .paginaInicialblink
    {
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 0.05fr 1fr 0.01fr;
    grid-template-areas: 
    "titulo"
    "logo"
    "historia"
    "footer";
}

.inicioBlink
{
    background-color: #0a9396;
    color: #ff006d;
    font-family: Arial, Helvetica, sans-serif;
}

.breveHistoria
{
    background-color: #0a9396;
    color: #ff006d; 
}

.paginaInicialblink
{
    width: 100vw;
}

.listaBlink
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.headerBlink img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagenInicial
{
    width: 416px;
   
}

}

@media screen and (max-width: 800px){
    .paginaInicialblink
    {
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 0.05fr 1fr 0.01fr;
    grid-template-areas: 
    "titulo"
    "logo"
    "historia"
    "footer";
}


.inicioBlink
{
    background-color: #0a9396;
    color: #ff006d;
    font-family: Arial, Helvetica, sans-serif;
}

.breveHistoria
{
    background-color: #0a9396;
    color: #ff006d; 
}

.paginaInicialblink
{
    width: 100vw;
}

.listaBlink
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.headerBlink img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagenInicial
{
    width: 730px;
}

}







/*TITULO PRINCIPAL DE LA PAGINA */

.inicioBlink h3
{
    color: #219ebc;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ff006d;
}

.logoBlink
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.imagenInicial
{
    width: 800px;
    text-align: center;
}


/*BREVE HISTORIA DE BLINK*/

.paginaPrincipal
{
    background-image: url(https://www.vhv.rs/dpng/d/564-5648798_blink-182-logo-blink-182-hd-png-download.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

/*SUBTITULO*/

.subTitulo
{
    text-align: center;
    background-color: #ff006d;
    color: #219ebc;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
}

/*PARRAFOS*/

.letraRosa
{
    color: #ff006d;
    font-family: 'Fredoka';
    margin-top: 10px;
    padding: 10px 10px;
    font-weight: bold;
    border: 1px dashed black;
}


/*LISTAS DE PAGINA PRINCIPAL*/

.listaBlink li
{
    display: inline-block;
    padding-left:3px;
    padding-right:3px;
    font-weight: bold;
    list-style-type: none;
    margin-top: 25px;
   
}

/*SECCIONES DE LA PAGINA*/

.seccionesPagina
{
    text-decoration: none;
    display: block;
    position: relative;
    width: 25%;
    font-size: 14px;
}

@keyframes aparecer{
    0% {opacity: 0%;}
    20% {opacity: 20%;}
    40% {opacity: 40%;}
    60% {opacity: 60%;}
    80% {opacity: 80%;}
    100% {opacity: 100%;}
}

.seccionesPagina{
    animation-name: aparecer;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
}

.headerBlink img
{
    height: 250px;
    filter: none;
    transition: height 3s;
}

.headerBlink img:hover
{
    height: 350px;
    filter: grayscale(50%);
}



.footerBlink
{
    margin-top: 30px;
    text-align: right;
    
}

/*INTEGRANTES*/

/*.integrantesBlink182
{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.3fr 0.2fr 0.2fr 0.02fr;
    grid-template-areas: 
    "integrantes integrantes"
    "tom tom"
    "travis travis"
    "volver footer";
}*/

.articleMark
{
    grid-area: integrantes;
}

.mainTom
{
    grid-area: tom;
}


.mainTravis
{
    grid-area: travis;
}

.volverPaginaa
{
    grid-area: volver;
}

.footerIntegrantes
{
    grid-area: footer;
}

.volverPaginaa
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIntegrantes
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px){
    .integrantesBlink182{
    display: grid ;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.02fr 0.02fr 0.02fr 0.01fr 0.01fr ;
    grid-template-areas: 
    "integrantes"
    "tom"
    "travis"
    "volver"
    "footer";
    background-image: url(../imagenes/marmol.jpg);
}



.losIntegrantes{
    width: 100vw;
    background-color: #219ebc;
    color: #ff006d;
    font-size: 25px;
}
}

@media screen and (max-width: 800px){
    .integrantesBlink182{
    display: grid ;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.02fr 0.02fr 0.02fr 0.01fr 0.01fr ;
    grid-template-areas: 
    "integrantes"
    "tom"
    "travis"
    "volver"
    "footer";
    background-image: url(../imagenes/marmol.jpg);
}


.losIntegrantes{
    width: 100vw;
    background-color: #219ebc;
    color: #ff006d;
    font-size: 25px;
}
}


.integrantesBlink
{
    background-color: #219ebc;
    color: #ff006d;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.articleMark
{
    background-image: url(../imagenes/Blink-182-Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.articleMark h3
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 40px;
    font-style: italic;
    color: blue;
}

.introduccionMark
{
    font-family: 'league gothic';
    font-size: 25px;
    margin-top: 35px;
    color: #ff006d;
    padding: 10px 10px 10px 10px;
}

.otrosTrabajos
{
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
    font-style: italic;
    color: #219ebc;
}

.otros__Trabajos
{
    font-family: 'league gothic';
    font-size: 25px;
    margin-top: 15px;
    color: #ff006d;
    padding: 10px 10px 10px 10px; 
}

.vidaMark
{
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
    font-style: italic;
    color: #219ebc;
}

.vida__Mark
{
    font-family: 'league gothic';
    font-size: 25px;
    margin-top: 15px;
    color: #ff006d;
    padding: 10px 10px 10px 10px;  
}

.fotoMark
{
   margin-top: 35px;
}

.foto__Mark
{
    color: #219ebc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5px;
}

.articleTom
{
    background-image: url(../imagenes/descarga.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.tomDelonge
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 40px;
    font-style: italic;
    color: blue;
}

.introduccionTom
{
    font-family: 'league gothic';
    font-size: 25px;
    margin-top: 35px;
    color: #ff006d;
    padding: 10px 10px 10px 10px;
}

.vidaTom
{
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
    font-style: italic;
    color: #219ebc; 
}

.vida__Tom
{
    font-family: 'league gothic';
    font-size: 25px;
    margin-top: 15px;
    color: #ff006d;
    padding: 10px 10px 10px 10px; 
}

.fotoTom
{
    text-align: right;
    margin-top: 15px;
}

.foto__Tom
{
    color: #0a9396;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5px;
}

.articleTravis
{
    background-image: url(../imagenes/Blink-182-Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.travisBarker
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 40px;
    font-style: italic;
    color: #219ebc;
}

.introduccionTravis
{
    font-family: 'league gothic';
    font-size: 25px;
    margin-top: 35px;
    color: #ff006d;
    padding: 10px 10px 10px 10px;  
}

.vidaTravis
{
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
    font-style: italic;
    color: #219ebc;
}

.vida__Travis
{
    font-family: 'league gothic';
    font-size: 25px;
    margin-top: 15px;
    color: #ff006d;
    padding: 10px 10px 10px 10px; 
}

.fueraMusica
{
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
    font-style: italic;
    color: #219ebc;  
}

.fuera__Musica
{
    font-family: 'league gothic';
    font-size: 25px;
    margin-top: 15px;
    color: #ff006d;
    padding: 10px 10px 10px 10px;  
}

.fotoTravis
{
    text-align: right;
    margin-top: 15px;  
}

.foto__Travis
{
    color: #219ebc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5px;
}

.volverPaginaa  
{
    margin-top: 10px;
    margin-bottom: 10px;
}


.volver__Paginaa  
{
    text-decoration: none;
    color: #ff006d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*HISTORIA DE LA BANDA*/

/*.lahistoriaBlink
{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr ;
    grid-template-rows: 0.02fr 0.03fr 0.01fr;
    grid-template-areas: 
    "titulo titulo"
    "texto texto"
    "volver footer";
}*/



.superJovenes
{
    width: 700px;
    margin: auto;
}

.volverApagina
{
    margin-top: 25px;
}

.historiaBlink
{
    grid-area: titulo;
}

.articuloPrimerospasos
{
    grid-area: texto;
}

.volverApagina
{
    grid-area: volver;
}

.footerHistoria
{
    grid-area: footer;
}

.volverApagina
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerHistoria
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

@media screen and (max-width: 800px){
    .lahistoriaBlink
    {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        background-image: url(../imagenes/marmolblanco.jpg);
    }

    .historiaBlink
    {
        max-width: 100%;
        width: 100vw;
    }

    .articuloPrimerospasos
    {
        padding: 30px
    }

    .articuloPrimerospasos{
        background-image: url(../imagenes/marmolblanco.jpg);
    }

    
    .superJovenes
{
    width: 530px;
    margin: auto;
}

}

@media screen and (max-width:500px){
    .lahistoriaBlink
    {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }

    .articuloPrimerospasos
    {
        padding: 30px;
        background-image: url(../imagenes/marmolblanco.jpg);
    }

    .superJovenes
{
    width: 250px;
    margin: auto;
}
    
}

.lahistoriaBlink
{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.historiaBlink
{
    text-align: center;
    color: #ff006d;
    background-color: #219ebc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.articuloPrimerospasos
{
    
    font-family: 'Kanit';
    color: red;
    font-weight: bold;
    padding: 30px;
    line-height: 30px;
    background-image: url(../imagenes/Blink-182-Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}    

.galeriaBlink
{
    background-color: #ff0054;
    color: #219ebc;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.imagen__Travis
{
    width: 600px;
    height: 500px;
}

.imagen__Tom
{
    width: 600px;
    height: 500px;
}

.imagen__Mark
{
    width: 300;
    height: 450px;
}

.blink__Caricatura
{
    width: 700px;
    height: 500px;
}

.blink__Recital3
{
    width: 420px;
    height: 350px;
}

.blink__Recital2
{
    width: 350px;
    height: 350px;
}

.volverApagina
{
   margin-bottom: 10px;
}

.volver__Apagina
{
    text-decoration: none;
    color: #ff006d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*CONTACTO*/

.fondoAzul
{
    background-image: url(../imagenes/blink\ circular.png);
    background-repeat: repeat;
    background-size: contain;
}
.dejaComentario
{
    margin-top: 5px;
}

.deja__Comentario
{
    font-family: 'Open Sans';
    color: #ff006d;
    margin-left: 5px;
    text-align: center;
}


.volverPaginaprincipal
{
    margin-top: 10px;
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
}

.volver__Paginaprincipal
{
    color: #ff006d;
    text-decoration: none;
}

.instagramBlink
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowGenero
{
    margin-left: 5px;
}

/*DISCOGRAFIA

.discografiaBlink
{
   display: grid;
    grid-template-columns: 0.01fr 0.01fr ;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 0.02fr;
    grid-template-areas: 
    
    "budha cheshire"
    "dude enema"
    "take blink182"
    "nei california"
    "nine nine"
    "volver footer";
    overflow-x: hidden;
}*/

.discografiaBlink
{
    background-image: url(../imagenes/marmolblanco.jpg);
   /* background-repeat: no-repeat;
    background-size: cover;*/
}


.discoBudha
{
    grid-area: budha;
}

.discoCheshire
{
    grid-area: cheshire;
}

.discoDude
{
    grid-area: dude;
}

.discoEnema
{
    grid-area: enema;
}

.discoTake
{
    grid-area: take;
}

.discoBlink 
{
    grid-area: blink182;
}

.discoNei
{
    grid-area: nei;
}

.discoCalifornia
{
    grid-area: california;
}

.discoNine
{
    grid-area: nine;
}

.footerBlink182
{
    grid-area: footer;
}

.vuelvePaginaprincipal
{
    grid-area: volver;
}

.footerBlink182
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vuelvePaginaprincipal
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px){
    .discografiaBlink
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr ;
        grid-template-areas: 
        
        "budha"
        "cheshire"
        "dude"
        "enema"
        "take"
        "blink182"
        "nei"
        "california"
        "nine"
        "volver"
        "footer";
    }

    .footerBlink182
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vuelvePaginaprincipal
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 800px){
    .discografiaBlink
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr ;
        grid-template-areas: 
        
        "budha"
        "cheshire"
        "dude"
        "enema"
        "take"
        "blink182"
        "nei"
        "california"
        "nine"
        "volver"
        "footer";
    }

    .discografiaBlink
    {
        overflow-x: hidden;
    }

   
}

.discografiaCompleta
{
    text-align: center;
    color: #ff0054;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: #219ebc;
   
}

.buddhaDisco
{
    font-family: 'Josefin Sans';
    margin-top: 20px;
    margin-left: 6px;
    color: #184e77;
    text-decoration: underline;
}

.imagenBuddha
{
    margin-top: 5px;
    margin-left: 6px;
}

.listaBuddha
{
    font-family: 'Josefin Sans';
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    color: #00296b;
}

.primerCd
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    margin-left: 6px;
}

.iframeBuddha
{
    margin-top: 20px;
    width: 350px;
    height: 400px;
}

.cheshireDisco
{
    font-family: 'Josefin Sans';
    margin-top: 20px;
    margin-left: 6px;
    color: #184e77;
    text-decoration: underline;
}

.imagenCheshire
{
    margin-top: 5px;
    margin-left: 6px;
}

.listaCheshire
{
    font-family: 'Josefin Sans';
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    color: #00296b;
}

.escuchaCheshire
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    margin-left: 6px;
}

.iframeCheshire
{
    margin-top: 20px;  
    width: 350px;
    height: 400px;
}


.dudeRanch
{
    font-family: 'Josefin Sans';
    margin-top: 20px;
    margin-left: 6px;
    color: #184e77; 
    text-decoration: underline;
}

.imagenDude
{
    margin-top: 5px;
    margin-left: 6px;
}

.listaDude
{
    font-family: 'Josefin Sans';
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    color: #00296b;
}

.escuchaDude
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    margin-left: 6px;
}

.iframeDude
{
    margin-top: 20px;
    width: 350px;
    height: 400px;
}

.enemaOfstate
{
    font-family: 'Josefin Sans';
    margin-top: 20px;
    margin-left: 6px;
    color: #184e77;  
    text-decoration: underline;
}

.imagenEnema
{
    margin-top: 5px;
    margin-left: 6px;
}

.listaEnema
{
    font-family: 'Josefin Sans';
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    color: #00296b; 
}

.escuchaEnema
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    margin-left: 6px;
}

.iframeEnema
{
    margin-top: 20px; 
    width: 350px;
    height: 400px;
}

.takePants
{
    font-family: 'Josefin Sans';
    margin-top: 20px;
    margin-left: 6px;
    color: #184e77; 
    text-decoration: underline;
}

.imagenPants
{
    margin-top: 5px;
   margin-left: 6px;
}

.listaPants
{
    font-family: 'Josefin Sans';
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    color: #00296b;  
}

.escuchaPants
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    margin-left: 6px;
}

.iframePants
{
    margin-top: 20px; 
    width: 350px;
    height: 400px; 
}

.blinkAlbum
{
    font-family: 'Josefin Sans';
    margin-top: 20px;
    margin-left: 6px;
    color: #184e77; 
    text-decoration: underline;
}

.imagenblinkAlbum
{
    margin-top: 5px;
    margin-left: 6px;  
}

.listaBlinkalbum
{
    font-family: 'Josefin Sans';
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    color: #00296b;  
}

.escuchaBlink
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    margin-left: 6px;
}

.iframeBlinkalbum
{
    margin-top: 20px;
    width: 350px;
    height: 400px; 
}

.neiGhborhoods
{
    font-family: 'Josefin Sans';
    margin-top: 20px;
    margin-left: 6px;
    color: #184e77; 
    text-decoration: underline;
}

.imagenNeighborhoods
{
    margin-top: 5px;
    margin-left: 6px;
    width: 350px;
    height: 300px;
}

.listaNeighborhoods
{
    font-family: 'Josefin Sans';
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    color: #00296b;  
}

.escuchaNeighborhoods
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    margin-left: 6px;
}

.iframeNeighborhoods
{
    margin-top: 20px;  
    width: 350px;
    height: 400px; 
}

.caLifornia
{
    font-family: 'Josefin Sans';
    margin-top: 20px;
    margin-left: 6px;
    color: #184e77; 
    text-decoration: underline;
}

.imagenCalifornia
{
    margin-top: 5px;
    margin-left: 6px;
}

.listaCalifornia
{
    font-family: 'Josefin Sans';
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    color: #00296b; 
}

.escuchaCalifornia
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    margin-left: 6px;
}

.iframeCalifornia
{
    margin-top: 20px; 
    width: 350px;
    height: 400px;
}

.niNe 
{
    font-family: 'Josefin Sans';
    margin-top: 20px;
    margin-left: 6px;
    color: #184e77;  
    text-decoration: underline;
}

.imagenNine
{
    margin-top: 5px;
     margin-left: 6px;
}

.listaNine
{
    font-family: 'Josefin Sans';
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    color: #00296b; 
}

.escuchaNine
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    margin-left: 6px;
}

.iframeNine
{
    margin-top: 20px; 
    width: 350px;
    height: 400px;  
}

.vuelvePaginaprincipal
{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.vuelve__Paginaprincipal
{
    text-decoration: none;
    color: #00296b;
}

.footerBlink182
{
    margin-bottom: 30px;
}

/*GALERIA*/

.elTitulo h3
{
    background-color: #ff006d;
    color: #219ebc;
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
}


.la__Vuelta
{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #00296b;
}


.blinkGaleria
{
    display: grid;
    grid-template-columns: repeat(2, 800px);
    grid-template-rows: repeat(7, 0.02fr);
    grid-template-areas: 
    "galeria galeria"
    "caricatura caricatura"
    "trio recital3"
    "juventud recitaldos"
    "bateria recitaltres"
    "mark travis"
    "volver volver";
    width: 100vw;
    column-gap: 5px;
    row-gap: 5px;
}

.galeriaTitulo
{
    grid-area: galeria;
    width: 100vw;
    
}

.blinkCaricatura
{
    grid-area: caricatura;
}

.markTomtravis
{
    grid-area: trio;
}

.imagenTomgaleria
{
    grid-area: tom;
}

.imagenTravisgaleria
{
    grid-area: travis;
}    

.blinkJuventud

{
    grid-area: juventud;
}

.blinkRecital2
{
    grid-area: recitaldos;
}
    
.travisBateria
{
    grid-area: bateria;
}

.blinkRecital3
{
    grid-area: recitaltres;
}    

.imagenMarkgaleria
{
    grid-area: mark;
}

.laVuelta
{
    grid-area: volver;

}

/*GALERIA*/

.galeriaBlink182
{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-image: url(../imagenes/marmol.jpg);
}

.blinkJoven
{
    width: 600px;
    padding: 5px;
}

.blinkRecital2
{
    width: 600px;
    padding: 5px;
}

.blinkRecital3
{
    width: 600px;
    padding: 5px;
}

.blinkRecital1
{
    width: 600px;
    padding: 5px;
}

.iniciosBlink182
{
    width: 650px;
    padding: 5px;
}

.markBajorosa
{
    width: 400px;
    padding: 5px;
}

.travisRecital1
{
    width: 500px;
    padding-left: 5px;
}

.carritoGolf
{
    padding: 5px;
}

.blinkGrabacion
{
    width: 350px;
}

.blinkNegroyblanco
{
    width: 300px;
}

.volverIndex
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.volver__Index
{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerGaleria
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px){
    /*.galeriaBlink182
{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}*/

.galeriaBlink182
{
    overflow-x: hidden;
}

.blinkJoven
{
    width: 300px;
    
}

.blinkRecital2
{
    width: 273px;
    
}

.blinkRecital3
{
    width: 306px;
    
}

.blinkRecital1
{
    width: 273px;
    
}

.blinkTrio
{
    width: 532px;
}

.iniciosBlink182
{
    width: 323px;
   
}

.markBajorosa
{
    width: 240px;
}

.travisRecital1
{
    width: 348px;
    
}

.gorraBlink182
{
    width: 175px;
}

.carritoGolf
{
    width: 210px;
}

.blinkGrabacion
{
    width: 242px;
    padding: 8px;
}

.blinkNegroyblanco
{
    width: 175px;
    padding: 5px;
}

}

@media screen and (max-width: 500px){
    .galeriaBlink182
    {
        overflow-x: hidden;
    }

    .blinkTrio
{
    width: 258px;
}

.iniciosBlink182
{
    width: 274px;
   
}

.travisRecital1
{
    width: 205px;
    
}

.gorraBlink182
{
    padding: 5px;
}

}