.paginaInicialblink {
  margin: 0%;
  padding: 0%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.04fr 0.1fr 2fr 0.001fr;
  grid-template-areas: "titulo" "logo" "historia" "footer"; }
  .paginaInicialblink .inicioBlink .tituloInicio {
    grid-area: titulo; }
  .paginaInicialblink .headerBlink {
    grid-area: logo; }
  .paginaInicialblink .listaBlink {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .paginaInicialblink .letraRosa {
    grid-area: historia; }
  .paginaInicialblink .footerBlink {
    grid-area: footer; }
  .paginaInicialblink .contenedor1 {
    background-color: #ff006d;
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; }
  .paginaInicialblink .contenedor2 .headerBlink img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .paginaInicialblink ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .paginaInicialblink .listaBlink li {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 25px;
    position: relative;
    width: 25%;
    font-size: 14px; }
  .paginaInicialblink li a {
    text-decoration: none;
    font-size: 20px;
    color: black; }

.contenedor3 {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 24px; }

.breveHistoria .subTitulo {
  text-align: center;
  background-color: #ff006d;
  color: black;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px; }

.letraRosa {
  color: black;
  font-family: 'Fredoka';
  margin-top: 10px;
  padding: 10px 10px;
  font-weight: bold;
  border: 1px dashed black;
  background-image: url(../imagenes/logoindex.png);
  background-repeat: no-repeat;
  background-size: cover; }

.contenedor4 {
  width: auto;
  height: auto; }
  .contenedor4 .imagenInicial {
    width: 700px; }

.contenedor5 {
  width: auto;
  height: auto;
  margin-top: 35px; }
  .contenedor5 .footerBlink {
    display: flex;
    justify-content: center;
    align-items: center; }

.paginaInicialblink .headerBlink img {
  height: 250px;
  filter: none;
  transition: height 3s; }
  .paginaInicialblink .headerBlink img:hover {
    height: 350px;
    filter: grayscale(50%); }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  20% {
    opacity: 20%; }
  40% {
    opacity: 40%; }
  60% {
    opacity: 60%; }
  80% {
    opacity: 80%; }
  100% {
    opacity: 100%; } }

.paginaInicialblink .listaBlink li .seccionesPagina {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: initial; }

.integrantesBlink182 {
  margin: 0%;
  padding: 0%;
  background-image: url(../imagenes/logoindex.png);
  /* display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.3fr 0.2fr 0.2fr 0.02fr;
    grid-template-areas:
        "navegacion navegacion"
        "tom tom"
        "travis travis"
        "volver footer";
*/ }
  .integrantesBlink182 .navIntegrantes {
    grid-area: integrantes; }
  .integrantesBlink182 .mainTom {
    grid-area: tom; }
  .integrantesBlink182 .mainTravis {
    grid-area: travis; }
  .integrantesBlink182 .volverPaginaa {
    grid-area: volver; }
  .integrantesBlink182 .footerIntegrantes {
    grid-area: footer; }
  .integrantesBlink182 .navIntegrantes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; }
  .integrantesBlink182 .navIntegrantes li {
    list-style-type: none; }
  .integrantesBlink182 .navIntegrantes li a {
    text-decoration: none;
    color: black;
    font-size: 20px; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  20% {
    opacity: 20%; }
  40% {
    opacity: 40%; }
  60% {
    opacity: 60%; }
  80% {
    opacity: 80%; }
  100% {
    opacity: 100%; } }
  .integrantesBlink182 .listaBlinkintegrantes li a {
    animation-name: aparecer;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: initial; }
  .integrantesBlink182 .contenedorMark {
    /* background-image: url(../imagenes/logoindex.png);
        background-repeat: repeat;
        background-position: center;
        background-size: cover;*/ }
    .integrantesBlink182 .contenedorMark .tituloMark {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 15px;
      font-size: 40px;
      font-style: italic;
      color: black; }
    .integrantesBlink182 .contenedorMark .introduccionMark {
      color: black;
      font-family: "Fredoka";
      font-size: 25px;
      margin-top: 15px;
      padding: 10px; }
    .integrantesBlink182 .contenedorMark .otrosTrabajos {
      text-align: left;
      margin-top: 10px;
      margin-left: 20px;
      font-size: 30px;
      font-style: italic;
      color: black; }
    .integrantesBlink182 .contenedorMark .otros__Trabajos {
      color: black;
      font-family: "Fredoka";
      font-size: 25px;
      margin-top: 15px;
      padding: 10px; }
    .integrantesBlink182 .contenedorMark .vidaMark {
      text-align: left;
      margin-top: 10px;
      margin-left: 20px;
      font-size: 30px;
      font-style: italic;
      color: black; }
    .integrantesBlink182 .contenedorMark .vida__Mark {
      color: black;
      font-family: "Fredoka";
      font-size: 25px;
      margin-top: 15px;
      padding: 10px; }
    .integrantesBlink182 .contenedorMark .imagenMark {
      margin-top: 35px; }
    .integrantesBlink182 .contenedorMark .foto__Mark {
      color: black;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-top: 5px; }
  .integrantesBlink182 .contenedorTom {
    /* background-image: url(../imagenes/tomcontenedor.jpg);
        @extend.contenedorMark;
        border: 0.2px dashed black;*/ }
    .integrantesBlink182 .contenedorTom .tomDelonge {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 15px;
      font-size: 40px;
      font-style: italic;
      color: black; }
    .integrantesBlink182 .contenedorTom .articleTom .introduccionTom {
      color: black;
      font-family: "Fredoka";
      font-size: 25px;
      margin-top: 15px;
      padding: 10px; }
    .integrantesBlink182 .contenedorTom .vidaTom {
      text-align: left;
      margin-top: 10px;
      margin-left: 20px;
      font-size: 30px;
      font-style: italic;
      color: black; }
    .integrantesBlink182 .contenedorTom .vida__Tom {
      color: black;
      font-family: "Fredoka";
      font-size: 25px;
      margin-top: 15px;
      padding: 10px; }
    .integrantesBlink182 .contenedorTom .fotoTom {
      text-align: right;
      margin-top: 15px; }
    .integrantesBlink182 .contenedorTom .foto__Tom {
      color: black;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-top: 5px; }
  .integrantesBlink182 .contenedorTravis {
    /*  background-image: url(../imagenes/traviscontenderor.jpg);
        @extend.contenedorMark;*/ }
    .integrantesBlink182 .contenedorTravis .tituloTravis .travisBarker {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 15px;
      font-size: 40px;
      font-style: italic;
      color: black; }
    .integrantesBlink182 .contenedorTravis .articleTravis .introduccionTravis {
      color: black;
      font-family: "Fredoka";
      font-size: 25px;
      margin-top: 15px;
      padding: 10px; }
    .integrantesBlink182 .contenedorTravis .vidaTravis {
      text-align: left;
      margin-top: 10px;
      margin-left: 20px;
      font-size: 30px;
      font-style: italic;
      color: black; }
    .integrantesBlink182 .contenedorTravis .vida__Travis {
      color: black;
      font-family: "Fredoka";
      font-size: 25px;
      margin-top: 15px;
      padding: 10px; }
    .integrantesBlink182 .contenedorTravis .fueraMusica {
      text-align: left;
      margin-top: 10px;
      margin-left: 20px;
      font-size: 30px;
      font-style: italic;
      color: black; }
    .integrantesBlink182 .contenedorTravis .fuera__Musica {
      color: black;
      font-family: "Fredoka";
      font-size: 25px;
      margin-top: 15px;
      padding: 10px; }
    .integrantesBlink182 .contenedorTravis .fotoTravis {
      text-align: right;
      margin-top: 15px; }
    .integrantesBlink182 .contenedorTravis .foto__Travis {
      color: black;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-top: 5px; }
  .integrantesBlink182 .volverPaginaa {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }

.volver__Paginaa {
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 500px) {
  body {
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden; }
  .paginaInicialblink {
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 0.05fr 1fr 0.01fr 0.01fr;
    grid-template-areas: "titulo" "logo" "historia" "imagen" "footer"; }
  .inicioBlink h1 {
    grid-area: titulo;
    display: inline-block; }
  .headerBlink {
    grid-area: logo; }
  .letraRosa {
    grid-area: historia; }
  .imagenInicial {
    grid-area: imagen; }
  .footerBlink {
    grid-area: footer; }
  .contenedor1 {
    background-color: #0a9396;
    color: black;
    font-family: Arial, Helvetica, sans-serif; }
    .contenedor1 main h3 {
      display: inline-block; }
  .contenedor2 .logoBlink {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .contenedor2 .listaBlink {
    list-style-type: none; }
  .contenedor2 .listaBlink li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .contenedor3 .letraRosa .letraRosa .parrafoInicial {
    background-image: url(../imagenes/logoindex.png);
    background-repeat: repeat; }
  .contenedor4 .imagenInicial {
    width: 300px; }
  .contenedor5 .footerBlink {
    display: flex;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 800px) {
  body {
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden; }
  .paginaInicialblink {
    width: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 0.05fr 1fr 0.01fr 0.01fr;
    grid-template-areas: "titulo" "logo" "historia" "imagen" "footer"; }
  .inicioBlink h1 {
    grid-area: titulo;
    width: 100vw; }
  .headerBlink {
    grid-area: logo; }
  .letraRosa {
    grid-area: historia; }
  .imagenInicial {
    grid-area: imagen; }
  .footerBlink {
    grid-area: footer; }
  .contenedor1 {
    background-color: #0a9396;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; }
  .contenedor2 .headerBlink img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .contenedor2 .listaBlink {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  .contenedor3 {
    overflow-x: hidden; }
    .contenedor3 .letraRosa {
      background-image: url(../imagenes/logoindex.png);
      background-repeat: repeat; }
  .contenedor4 {
    width: auto;
    height: auto; }
    .contenedor4 img {
      width: 690px; }
  .contenedor5 {
    width: auto;
    height: auto; } }

@media screen and (max-width: 500px) {
  .integrantesBlink182 {
    width: 100vw;
    background-image: url(../imagenes/logoindex.png);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.02fr 0.02fr 0.02fr 0.01fr 0.01fr;
    grid-template-areas: "navintegrantes" "tom" "travis" "volver" "footer"; }
    .integrantesBlink182 .navIntegrantes {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; }
    .integrantesBlink182 .navIntegrantes li a {
      color: black; }
    .integrantesBlink182 .contenedorFooterinicio a {
      width: auto;
      height: auto; }
    .integrantesBlink182 .contenedorMark {
      width: 100vw; }
    .integrantesBlink182 .contenedorTom {
      width: 100vw; }
    .integrantesBlink182 .contenedorTravis {
      width: 100vw; }
    .integrantesBlink182 .contenedorFooterinicio {
      width: 100vw; } }

@media screen and (max-width: 800px) {
  .integrantesBlink182 {
    width: 100vw;
    max-width: 100%;
    background-image: url(../imagenes/logoindex.png);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.02fr 0.02fr 0.02fr 0.01fr 0.01fr;
    grid-template-areas: "navintegrantes" "tom" "travis" "volver" "footer"; }
    .integrantesBlink182 .navIntegrantes {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center; }
    .integrantesBlink182 .navIntegrantes li a {
      color: black; }
    .integrantesBlink182 .contenedorMark {
      width: 100vw; }
    .integrantesBlink182 .contenedorTom {
      width: 100vw; }
    .integrantesBlink182 .contenedorTravis {
      width: 100vw; }
    .integrantesBlink182 .contenedorFooterinicio {
      width: 100vw; } }
