.paginaInicialblink {
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.04fr 0.1fr 2fr 0.001fr;
    grid-template-areas:
        "titulo"
        "logo"
        "historia"
        "footer";

    .inicioBlink .tituloInicio {
        grid-area: titulo;
    }

    .headerBlink {
        grid-area: logo;
    }

    .listaBlink {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .letraRosa {
        grid-area: historia;
    }

    .footerBlink {
        grid-area: footer;
    }




    .contenedor1 {
        background-color: #ff006d;
        color: black;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .contenedor2 {
        .headerBlink img {
            display: block;
            margin-left: auto;
            margin-right: auto;


        }
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .listaBlink li {
        display: inline-block;
        padding-left: 3px;
        padding-right: 3px;
        font-weight: bold;
        text-decoration: none;
        margin-top: 25px;
        position: relative;
        width: 25%;
        font-size: 14px;

    }

    li a {
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

}




.contenedor3 {

    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.breveHistoria .subTitulo {
    text-align: center;
    background-color: #ff006d;
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;

}

.letraRosa {
    color: #0c0f0a;
    font-family: 'Fredoka';
    margin-top: 10px;
    padding: 10px 10px;
    background-image: url(../imagenes/logoindex.png);
    background-repeat: no-repeat;
    background-size: cover;


}


.contenedor4 {
    width: auto;
    height: auto;

    .imagenInicial {
        width: 700px;

    }
}

.contenedor5 {
    width: auto;
    height: auto;
    margin-top: 35px;

    .footerBlink {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}