@media screen and (max-width: 500px) {
    .paginaInicialblink {
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: 0.01fr 0.05fr 1fr 0.01fr 0.01fr;
        grid-template-areas:
            "titulo"
            "logo"
            "historia"
            "imagen"
            "footer";
    }

    .inicioBlink h1 {
        grid-area: titulo;
        width: 100vw;
        display: inline-block;
    }

    .headerBlink {
        grid-area: logo;
    }



    .letraRosa {
        grid-area: historia;
    }

    .imagenInicial {
        grid-area: imagen;
    }

    .footerBlink {
        grid-area: footer;
    }

    .contenedor1 {

        background-color: #0a9396;
        color: #ff006d;
        font-family: Arial, Helvetica, sans-serif;

        main h3 {
            display: inline-block;

        }
    }

    .contenedor2 {
        width: 100vw;

        .logoBlink {
            display: block;
            margin-left: auto;
            margin-right: auto;

        }


        .listaBlink {
            list-style-type: none;
        }

        .listaBlink li {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    .contenedor3 {
        .letraRosa{
            width: 100%;
        }
    }

    .contenedor4 {
        width: 100vw;

        .imagenInicial {
            width: 500px;
        }
    }



    .contenedor5 {
        width: 100vw;

        .footerBlink {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 800px) {
    .paginaInicialblink {
        width: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.01fr 0.05fr 1fr 0.01fr 0.01fr;
        grid-template-areas:
            "titulo"
            "logo"
            "historia"
            "imagen"
            "footer";
    }

    .inicioBlink h1 {
        grid-area: titulo;
        width: 100vw;
    }

    .headerBlink {
        grid-area: logo;
    }

    .letraRosa {
        grid-area: historia;
    }

    .imagenInicial {
        grid-area: imagen;
    }

    .footerBlink {
        grid-area: footer;
    }

    .contenedor1 {

        background-color: #0a9396;
        color: #ff006d;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .contenedor2 {


        .headerBlink img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .listaBlink {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }
    }



    .contenedor4 {
        width: auto;
        height: auto;

        img {
            width: 730px;
        }
    }

    .contenedor5 {
        width: auto;
        height: auto;
    }
}